<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="formBuscar">
                    <input #input (keyup)="buscarAfiliado( input.value )" type="text" class="form-control" formControlName="busqueda" placeholder="Buscar Afiliado...">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando...</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Personas registradas ( <small>{{ totalRegistros }}</small> )</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>DNI</th>
                            <th>Tipo</th>
                            <th>Ver</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor='let persona of personas'>
                            <td class="w70">
                                <img [src]="persona.Foto | imagen:'persona'" class="img-50 img-circle pointer">
                            </td>
                            <td>
                                <a [routerLink]="['/ficha', persona.ID]">{{ persona.ApellidoyNombre }}</a>
                            </td>
                            <td>{{ persona.Dni }}</td>
                            <td>
                                <label *ngIf=" persona.Tipo == 'AFILIADO'" class="label label-danger">Afiliado</label>
                                <label *ngIf="persona.Tipo == 'NO AFILIADO'" class="label label-info">No Afiliado</label>
                            </td>
                            <td>
                                <button [routerLink]="['/ficha', persona.ID]" class="btn btn-primary">
                              <i class="fa fa-info"></i>
                            </button>

                            </td>
                        </tr>

                    </tbody>

                </table>
                <button (click)="cambiarDesde(-1)" class="btn btn-secondary">
                  Anteriores
                </button>
                <span>{{ desde }} de {{ totalPaginas }}</span>
                <button (click)="cambiarDesde(1)" class="btn btn-secondary">
                    Siguientes
                </button>

            </div>
        </div>
    </div>
</div>