<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-b-0">
                <h4 class="card-title">{{ persona.Ficha }} - {{ persona.ApellidoyNombre }}</h4>
                <h6 class="card-subtitle"> DNI: {{ persona.Dni }}</h6>
                <!-- <h6 class="card-subtitle">Use default tab with class <code>customtab</code></h6> -->
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs customtab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab" aria-expanded="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Ficha Personal</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-expanded="false"><span class="hidden-sm-up"><i class="ti-view-grid"></i></span> <span class="hidden-xs-down">Ficha Familiar</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages2" role="tab" aria-expanded="true"><span class="hidden-sm-up"><i class="ti-agenda"></i></span> <span class="hidden-xs-down">Ficha Laboral</span></a> </li>

            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home2" role="tabpanel" aria-expanded="false">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card ">

                                <div class="card-body">

                                    <form class="form-horizontal" role="form">
                                        <div class="form-body">
                                            <h3 class="box-title">Informacion Personal</h3>
                                            <hr class="m-t-0 m-b-40">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Apellido y Nombre:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ persona.ApellidoyNombre }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Email:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ persona.email }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Genero:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ persona.Sexo }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Fecha de Nac.:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ persona.FechaNacimiento }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Obra Social:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ persona.Social }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Telefono:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ persona.Celular }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <h3 class="box-title">Direccion</h3>
                                            <hr class="m-t-0 m-b-40">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Direccion:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ persona.Domicilio }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Ciudad:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ persona.Localidad }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">CP:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ persona.CodPostal }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Provincia:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ persona.Provincia }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->

                                        </div>

                                    </form>



                                </div>
                            </div>
                        </div>
                    </div>




                    <!-- <div class="p-20">
                      <h3>Best Clean Tab ever</h3>
                      <h4>you can use it with the small code</h4>
                      <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                  </div> -->
                </div>
                <div class="tab-pane p-20" id="profile2" role="tabpanel" aria-expanded="false">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Grupo Familiar </h4>
                                <hr class="m-t-0 m-b-40">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>DNI</th>
                                                <th>Nombre</th>
                                                <th>Fecha Nacimiento</th>
                                                <th>Relacion</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let familiar of familiares'>
                                                <td>{{ familiar.Dni }}</td>
                                                <td>{{ familiar.ApellidoyNombre }}</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> {{ familiar.FechaNacimiento | date:'dd/MM/yyyy' }}</span> </td>
                                                <td>
                                                    <div class="label label-table label-success">{{ familiar.Parentezco }}</div>
                                                    <!-- <div *ngIf=" familiar.Parentezco == 'HIJA'" class="label label-table label-success">{{ familiar.Parentezco }}</div>
                                                    <div *ngIf=" familiar.Parentezco == 'ESPOSA' || familiar.Parentezco == 'ESPOSO'" class="label label-table label-danger">{{ familiar.Parentezco }}</div> -->
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
                <div class="tab-pane p-20" id="messages2" role="tabpanel" aria-expanded="true">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Historial Laboral</h4>
                                <hr class="m-t-0 m-b-40">
                                <!-- <h6 class="card-subtitle">Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive </code></h6> -->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Panaderia</th>
                                                <th>Dueño</th>
                                                <th>Fecha Ingreso</th>
                                                <th>cargo</th>
                                                <th>Estado</th>
                                                <th>Lugar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let laboral of laborales'>
                                                <td>{{ laboral.RazonSocial }}</td>
                                                <td>{{ laboral.Dueno }}</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> {{ laboral.FechaAlta }} </span> </td>
                                                <td>{{ laboral.Cargo }}</td>
                                                <td>
                                                    <div class="label label-table label-success">{{ laboral.Situacion }}</div>
                                                </td>
                                                <td>{{ laboral.Localidad }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>