<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-b-0">
                <h4 class="card-title">John doe</h4>
                <h6 class="card-subtitle"> DNI: 25422598</h6>
                <!-- <h6 class="card-subtitle">Use default tab with class <code>customtab</code></h6> -->
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs customtab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab" aria-expanded="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Ficha Personal</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-expanded="false"><span class="hidden-sm-up"><i class="ti-view-grid"></i></span> <span class="hidden-xs-down">Ficha Familiar</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages2" role="tab" aria-expanded="true"><span class="hidden-sm-up"><i class="ti-agenda"></i></span> <span class="hidden-xs-down">Ficha Laboral</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#cuota" role="tab" aria-expanded="true"><span class="hidden-sm-up"><i class="ti-money"></i></span> <span class="hidden-xs-down">Ficha Cuotas</span></a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home2" role="tabpanel" aria-expanded="false">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card ">

                                <div class="card-body">
                                    <form action="#" class="form-horizontal">
                                        <div class="form-body">
                                            <h3 class="box-title">Informacion Personal</h3>
                                            <hr class="m-t-0 m-b-40">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Nombre:</label>
                                                        <div class="col-md-9">
                                                            <label class="control-label label-light-inverse text-right ">John doe</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Correo:</label>
                                                        <div class="col-md-9">
                                                            <label class="control-label label-light-inverse text-right ">john.doe@gmail.com</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Genero:</label>
                                                        <div class="col-md-9">
                                                            <label class="control-label label-light-inverse text-right ">Masculino</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Fecha Nac:</label>
                                                        <div class="col-md-9">
                                                            <label class="control-label label-light-inverse text-right ">19/02/1980</label>
                                                            <!-- <input type="date" class="form-control" placeholder="dd/mm/yyyy"> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Categoria</label>
                                                        <div class="col-md-9">
                                                            <label class="control-label label-light-inverse text-right ">Categoria 1</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Telefono</label>
                                                        <div class="col-md-9">
                                                            <label class="control-label label-light-inverse text-right ">2657343576</label>
                                                            <!-- <input type="date" class="form-control" placeholder="dd/mm/yyyy"> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <h3 class="box-title">Direccion</h3>
                                            <hr class="m-t-0 m-b-40">
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Direccíon 1:</label>
                                                        <div class="col-md-9">
                                                            <label class="control-label label-light-inverse text-right ">25 de Mayo N° 870</label>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Direccíon 2:</label>
                                                        <div class="col-md-9">
                                                            <label class="control-label label-light-inverse text-right ">S/D</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Ciudad:</label>
                                                        <div class="col-md-9">
                                                            <label class="control-label label-light-inverse text-right ">Villa Mercedes</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Provincia:</label>
                                                        <div class="col-md-9">
                                                            <label class="control-label label-light-inverse text-right ">San Luis</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <!-- <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Codigo Postal</label>
                                                        <div class="col-md-9">
                                                            <label class="control-label label-light-inverse text-right ">5730</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Country</label>
                                                        <div class="col-md-9">
                                                            <select class="form-control custom-select">
                                                              <option>Country 1</option>
                                                              <option>Country 2</option>
                                                          </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div> -->
                                            <!--/row-->
                                        </div>
                                        <hr>
                                        <!-- <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn btn-success">Submit</button>
                                                            <button type="button" class="btn btn-inverse">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> </div>
                                            </div>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>




                    <!-- <div class="p-20">
                      <h3>Best Clean Tab ever</h3>
                      <h4>you can use it with the small code</h4>
                      <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                  </div> -->
                </div>
                <div class="tab-pane p-20" id="profile2" role="tabpanel" aria-expanded="false">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Grupo Familiar </h4>
                                <hr class="m-t-0 m-b-40">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>DNI</th>
                                                <th>Nombre</th>
                                                <th>Fecha Nacimiento</th>
                                                <th>Email</th>
                                                <th>Relacion</th>
                                                <th>Telefono</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>26583456</td>
                                                <td>Blanca Beck</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> Oct 16, 1992</span> </td>
                                                <td>test1@test.com</td>
                                                <td>
                                                    <div class="label label-table label-success">Esposa</div>
                                                </td>
                                                <td>2658345678</td>
                                            </tr>
                                            <tr>
                                                <td>26583456</td>
                                                <td>Maria Doe</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> Oct 12, 2007</span> </td>
                                                <td>test1@test.com</td>
                                                <td>
                                                    <div class="label label-table label-danger">Hija</div>
                                                </td>
                                                <td>2658345678</td>
                                            </tr>
                                            <tr>
                                                <td>26583456</td>
                                                <td>Cristian Doe</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> May 18, 2000</span> </td>
                                                <td>test1@test.com</td>
                                                <td>
                                                    <div class="label label-table label-danger">Hijo</div>
                                                </td>
                                                <td>2658345678</td>
                                            </tr>
                                            <tr>
                                                <td>26583456</td>
                                                <td>Roberto Doe</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> Abr 28, 1950</span> </td>
                                                <td>test1@test.com</td>
                                                <td>
                                                    <div class="label label-table label-info">Padre</div>
                                                </td>
                                                <td>2658345678</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
                <div class="tab-pane p-20" id="messages2" role="tabpanel" aria-expanded="true">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Historial Laboral</h4>
                                <hr class="m-t-0 m-b-40">
                                <!-- <h6 class="card-subtitle">Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive </code></h6> -->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Panaderia</th>
                                                <th>Dueño</th>
                                                <th>Fecha Ingreso</th>
                                                <th>cargo</th>
                                                <th>Estado</th>
                                                <th>Lugar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="javascript:void(0)">Las Camelias</a></td>
                                                <td>Herman Beck</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> Oct 16, 2017</span> </td>
                                                <td>Maestro Panadero</td>
                                                <td>
                                                    <div class="label label-table label-success">En Blanco</div>
                                                </td>
                                                <td>Villa Mercedes</td>
                                            </tr>
                                            <tr>
                                                <td><a href="javascript:void(0)">Barrio Cap</a></td>
                                                <td>Mary Adams</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> Oct 12, 2017</span> </td>
                                                <td>Maestro Panadero</td>
                                                <td>
                                                    <div class="label label-table label-danger">En Negro</div>
                                                </td>
                                                <td>Villa Mercedes</td>
                                            </tr>
                                            <tr>
                                                <td><a href="javascript:void(0)">Margaritas</a></td>
                                                <td>Caleb Richards</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> May 18, 2017</span> </td>
                                                <td>Maestro Panadero</td>
                                                <td>
                                                    <div class="label label-table label-info">Inactivo</div>
                                                </td>
                                                <td>Villa Mercedes</td>
                                            </tr>
                                            <tr>
                                                <td><a href="javascript:void(0)">Las Camelias</a></td>
                                                <td>June Lane</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> Apr 28, 2017</span> </td>
                                                <td>Maestro Panadero</td>
                                                <td>
                                                    <div class="label label-table label-info">Inactivo</div>
                                                </td>
                                                <td>Villa Mercedes</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane p-20" id="cuota" role="tabpanel" aria-expanded="true">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Historial Cuotas </h4>
                                <hr class="m-t-0 m-b-40">
                                <!-- <h6 class="card-subtitle">Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive </code></h6> -->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Numero</th>
                                                <th>Mes</th>
                                                <th>Fecha</th>
                                                <th>Monto</th>
                                                <th>Estado</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>#2</td>
                                                <td>Enero</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> Oct 16, 2017</span> </td>
                                                <td>$45.00</td>
                                                <td>
                                                    <div class="label label-table label-success">Pagado</div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>#58</td>
                                                <td>Febrero</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> Oct 12, 2017</span> </td>
                                                <td>$245.30</td>
                                                <td>
                                                    <div class="label label-table label-success">Pagado</div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>#458</td>
                                                <td>Marzo</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> May 18, 2017</span> </td>
                                                <td>$38.00</td>
                                                <td>
                                                    <div class="label label-table label-success">Pagado</div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>#32</td>
                                                <td>Abril</td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> Apr 28, 2017</span> </td>
                                                <td>$77.99</td>
                                                <td>
                                                    <div class="label label-table label-success">Pagado</div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>