<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarPanaderia( input.value )" type="text" class="form-control" placeholder="Buscar Panaderia...">

            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando...</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">



                <h3 class="card-title">Panaderias registradas ( <small> {{ this.totalRegistros }} </small> )</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Panaderia</th>
                            <th>Direccion</th>
                            <th>CUIT</th>
                            <th>Celular</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor='let panaderia of panaderias'>
                            <td class="w70">
                                <img [src]="panaderia.Foto | imagen:'panaderia'" class="img-50 img-circle pointer">
                            </td>
                            <td>
                                <a [routerLink]="['/ficha-panaderia', panaderia.ID]">  {{ panaderia.RazonSocial }}</a>

                            </td>
                            <td> {{ panaderia.Domicilio}} </td>
                            <td>
                                {{ panaderia.CUIT}}
                            </td>
                            <td>
                                {{ panaderia.Celular }}

                            </td>
                            <td>
                                <button [routerLink]="['/ficha-panaderia', panaderia.ID]" class="btn btn-primary">
                                <i class="fa fa-info"></i>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-1)" class="btn btn-secondary">
                    Anteriores
                </button>
                <span>{{ desde }} de {{ totalPaginas }}</span>
                <button (click)="cambiarDesde(1)" class="btn btn-secondary">
                      Siguientes
                </button>
            </div>
        </div>
    </div>
</div>